<div class="container-fluid bg-dark m-0 fill">
    <div class="container" style="height : 100vh"></div>
        <div class="row align-items-center">
            <div class="col-12 text-light mt-4">
                <div class="d-grid gap-2">
                    <a href="/admin/productos" class="btn btn-danger mt-2">Productos ABM</a>
                    <a href="/admin/usuarios" class="btn btn-danger mt-2">Usuarios ABM</a>
                </div>
            </div>
        </div>
    </div>
</div>