<div class="container-fluid fill">
    <div class="row justify-content-center">
        <h1 class="text-warning text-center mt-1 mb-1"> Necesitas ser administrador</h1>
        <div class="container text-center mt-1 mb-1">
            <a href="/login" class="btn btn-danger">Volver al log-in</a>
        </div>
    </div>
</div>